<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>goodsPage</title>
</head>
<body>
<h1>API食用方法：</h1>

<h2>获取全部商品</h2>
<p>URL:http://localhost:8080/localmachine/rest/allgoods</p>
<p>method:GET</p>
<p>type:rest</p>
<p>return type:json style</p>

<br><br><br>

<h2>获取单个商品</h2>
<p>URL:http://localhost:8080/localmachine/rest/goods/1</p>
<p>method:GET</p>
<p>type:rest</p>
<p>return type:json style</p>

<br><br><br>

<h2>更新商品</h2>
<p>URL:http://localhost:8080/localmachine/rest/goods?id=1&goodsName=iphone xr</p>
<p>method:PUT</p>
<p>type:rest</p>
<p>return type:json style</p>

<br><br><br>

<h2>保存商品</h2>
<p>URL:http://localhost:8080/localmachine/rest/goods?goodsName=iphone xs</p>
<p>method:POST</p>
<p>type:rest</p>
<p>return type:json style</p>

<br><br><br>

<h2>删除用户</h2>
<p>URL:http://localhost:8080/localmachine/rest/goods/6</p>
<p>method:DELETE</p>
<p>type:rest</p>
<p>return type:json style</p>
</body>
</html>