<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>restPage</title>
</head>
<body>

<h1>API食用方法：</h1>

<h2>获取全部用户</h2>
<p>URL:http://localhost:8080/localmachine/rest/users</p>
<p>method:GET</p>
<p>type:rest</p>
<p>return type:json style</p>

<br><br><br>

<h2>获取单个用户</h2>
<p>URL:http://localhost:8080/localmachine/rest/user/1001</p>
<p>method:GET</p>
<p>type:rest</p>
<p>return type:json style</p>

<br><br><br>

<h2>更新用户</h2>
<p>URL:http://localhost:8080/localmachine/rest/user?id=1001&lastName=porschan&email=710437653@qq.com&gender=1&department.id=1</p>
<p>method:PUT</p>
<p>type:rest</p>
<p>return type:json style</p>

<br><br><br>

<h2>保存用户</h2>
<p>URL:http://localhost:8080/localmachine/rest/user?lastName=john&email=710437653@qq.com&department.id=104</p>
<p>method:POST</p>
<p>type:rest</p>
<p>return type:json style</p>

<br><br><br>

<h2>删除用户</h2>
<p>URL:http://localhost:8080/localmachine/rest/user/1001</p>
<p>method:DELETE</p>
<p>type:rest</p>
<p>return type:json style</p>

</body>
</html>